
<title>My application deployed automatically</title>
  In the first form,enter a list of integer that you want to compare index x with second array.
  <br>
  In the second form,enter a list of integer that you want to compare index x with first array.
  <br>
  In the third form,enter a integer. This integer will be used as an index 
  <br>
  If the first[x] and  second[x] are equals,it should return true, otherwise should return false.
  <br>
  <h1>My app</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
